.App {
  text-align: center;
}

.toppart {
    padding: 20px;
}

@keyframes FadeIn {
    0%, 20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: FadeIn 1.4s;
}

footer {
    width: calc(100%-40px);
    padding: 20px;
    background: #f6f6f7;
}

.country {
    width: 400px;
    max-width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.country:hover {
    border-bottom-color: blue;
    color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
